header{
  background-color: red;
  
}

header div{
  width: 10%;
  height: 10%;

}

header nav ul li{
  display: inline-block;
    padding: 3%;
    margin-top: 0px;


}
header nav ul li a{
 text-decoration: none;
 color: white;
 margin-right: 0px;
 padding: 50%;
  
 
}
#first{
  background-color: red;
  text-align: center;
  color: white;

margin-top: -1%;
padding: 5%;
  
}
#solid{
 border-style: solid;
 color: white;
 text-decoration: none;
 background-color: black;width:10%;
 display: inline-block;

}
#second{
 display: inline-block;
 margin-right: 1%;
 background-color: whitesmoke;
  padding: 3%;
 
}
#third{
  display: inline-block;
 margin-left: 1%;
 background-color:gainsboro;
  padding: 3%;
}
.title{
  text-align: center;
}
#forth{
  text-align: center;
  color: white;
  background-color: rgb(75, 64, 64);
  padding:3%;
  height:30%;
   margin-left:1%;
}
#footer{
  text-align: center;
  background-color: whitesmoke;
  color: black;
}