header{
  background-color: red;
  
}

header div{
  width: 10%;
  height: 10%;
}

header nav ul li{
  display: inline-block;
    padding: 2%;
    margin-top: 0px;
    margin-left: 1%;
  
  
}


header nav ul li a{
 text-decoration: none;
 color: white;
 margin-right: 0px;
 padding: 50%;
  font-family: cursive;

}
  a:hover, a:active {
  background-color: gainsboro;
  color: white;
}
 
#first{
  background-color: red;
  text-align: center;
  color: white;
  font-size: xx-large;
  font-family: sans-serif; 
  margin-top: -1%;
   padding: 5%
  
}
#solid{
 border-style: solid;
 color: wheat;
 text-decoration: none;
 background-color: black;width:20%;
 display: inline-block;

}
 
#second{
  font-family: Arial, Helvetica, sans-serif;
 display: inline-block;
 margin-right: 1%;
 background-color: whitesmoke;
  padding: 3%;
 
}
#third{
  display: inline-block;
 margin-left: 0%;
 background-color:gainsboro;
  padding: 3%;
  font-family: Arial, Helvetica, sans-serif;
}
.title{
  text-align: center;
}
#forth{
  text-align: center;
  color: white;
  background-color: rgb(75, 64, 64);
  padding:3%;
  height:30%;
   margin-left:1%;
}
#footer{
  text-align: center;
  background-color: whitesmoke;
<<<<<<< HEAD
  text-decoration: none;
  padding:10% ;
  color: rgb(119, 112, 112);

=======
<<<<<<< HEAD
  color: rgb(136, 125, 125);
  text-decoration: none;
  padding:10% ;
=======
  color: black;
>>>>>>> 82b2ca54451f62259f6cf97aebc5f1befa236a26
>>>>>>> 73d4439e05b132f6203147db84aee31b5bdfbec6
}